server {
    listen 80;
    server_name {{ certbot_domain }};

    location /page1 {
        alias /var/www/task1/;
        index index.html;
        try_files $uri $uri/ =404;
    }

    location /page2 {
        alias /var/www/task2/;
        index index.html;
        try_files $uri $uri/ =404;
    }
}